@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-900 text-white;
    }
}

@layer components {
    .btn-blue {
        @apply rounded bg-blue-600 px-4 py-2 font-bold text-white hover:bg-blue-500;
    }
}
